<nav class="navbar navbar-expand-sm mx-auto sticky-top navbar-light bg--white " style="height: 80px;background-color: #fff!important; ">
 
  <div class="bg--white">
    <a href="/"><img src="./app/assets/images/naturLogo.jpeg" alt="Smiley face" height="80" width="189"></a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

     
      <li class="nav-item">
      </li>

    </ul>
    
     <form>
     
  <div style="padding-right: 30px;" class="input-group">
    <input ng-model = "buscador" type="text" style="height: 35px;" class="form-control input-sm" id="inputsm" placeholder="Buscar por nombre...">
    <div class="input-group-append">
      <button ng-click="findProducts(buscador)"  style="background-color: #69b51e;height: 35px;"class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
 </form>
 
      <a href="cart">
      <i class="fa fa-shopping-cart" style='margin-right:45px; font-size:35px; color:#1ccf04;'></i>
    </a>
  


  </div>
</nav>