<meta charset="UTF-8">
<style>
  footer {
    background: #343a40;
    padding: 40px;
    position: initial;
    bottom: 0;
  }

  footer a {
    color: #f8f9fa !important
  }
</style>

<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>Nosotros</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p align="justify" style="font-size: small;">
          Naturlife es una empresa con más de 10 años en el sector de la distribución de productos naturales. 
		  La gama de productos naturales que les ofrecemos es extensa, con gran diversidad, tanto en tipos como en propiedades naturales, la comida natural y ecológica, los complementos alimenticios, las infusiones y tes… entre otras muchas.
		  Nuestro objetivo es seleccionar lo mejor y más accesible para nuestros clientes, que les reporte un gran beneficio a su salud, y por tanto un notorio aumento de su bienestar y calidad de vida.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5>Productos</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a  style="font-size: small;" href="">Legumbres</a></li>
          <li><a  style="font-size: small;" href="">Frutas Secas</a></li>
          <li><a  style="font-size: small;" href="">Especias</a></li>
          <li><a  style="font-size: small;" href="">Cereales</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <h5>Noticias</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a  style="font-size: small;" href="">RSS</a></li>
          <li><a  style="font-size: small;" href="">Feedback</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i  class="fa fa-home mr-2"></i> <span style="font-size: small;">Naturlife</span> </li>
          <li><i  class="fa fa-envelope mr-2"></i> <span style="font-size: small;">info@naturlife.com</span></li>
          <li><i  class="fa fa-phone mr-2"></i> <span style="font-size: small;">+ 54 9 11 9999 9999</span></li>
          <li><i  class="fa fa-print mr-2"></i> <span style="font-size: small;">+ 54 9 11 1111 1111</span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>