<style>
  footer {
    background: #343a40;
    padding: 40px;
  }

  footer a {
    color: #f8f9fa !important
  }
</style>

<footer class="text-light" style="padding-top:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3">
        <h5>About</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <p style="font-size: small;">
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
          impression.
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
        <h5>Informations</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a  style="font-size: small;" href="">Link 1</a></li>
          <li><a  style="font-size: small;" href="">Link 2</a></li>
          <li><a  style="font-size: small;" href="">Link 3</a></li>
          <li><a  style="font-size: small;" href="">Link 4</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
        <h5>Others links</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a  style="font-size: small;" href="">Link 1</a></li>
          <li><a  style="font-size: small;" href="">Link 2</a></li>
          <li><a  style="font-size: small;" href="">Link 3</a></li>
          <li><a  style="font-size: small;" href="">Link 4</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i  class="fa fa-home mr-2"></i> <span style="font-size: small;">My company</span> </li>
          <li><i  class="fa fa-envelope mr-2"></i> <span style="font-size: small;">email@example.com</span></li>
          <li><i  class="fa fa-phone mr-2"></i> <span style="font-size: small;">+ 33 12 14 15 16</span></li>
          <li><i  class="fa fa-print mr-2"></i> <span style="font-size: small;">+ 33 12 14 15 16</span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>