<style>
    html,
    body {
        min-height: 100% !important;

        height: 100%;

    }
</style>


<style>
    .quantity {
        float: left;
        margin-right: 15px;
        background-color: #eee;
        position: relative;
        width: 80px;
        overflow: hidden
    }

    .quantity input {
        margin: 0;
        text-align: center;
        width: 15px;
        height: 15px;
        padding: 0;
        float: right;
        color: #000;
        font-size: 20px;
        border: 0;
        outline: 0;
        background-color: #F6F6F6
    }

    .quantity input.qty {
        position: relative;
        border: 0;
        width: 100%;
        height: 40px;
        padding: 10px 25px 10px 10px;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        border-radius: 0;
        background-clip: padding-box
    }

    .quantity .minus,
    .quantity .plus {
        line-height: 0;
        background-clip: padding-box;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-background-size: 6px 30px;
        -moz-background-size: 6px 30px;
        color: #bbb;
        font-size: 20px;
        position: absolute;
        height: 50%;
        border: 0;
        right: 0;
        padding: 0;
        width: 25px;
        z-index: 3
    }

    .quantity .minus:hover,
    .quantity .plus:hover {
        background-color: #dad8da
    }

    .quantity .minus {
        bottom: 0
    }

    .shopping-cart {
        margin-top: 20px;
    }
</style>
<br>
<br>

<div ng-show="showResume" class="container">

    <h2>Resumen compra</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card shopping-cart">
                <div class="card-header bg-dark text-light">
                    <span style="font-size: small;">Retiro</span>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">
                    Los productos estaran disponibles para ser retirados a partir del dia xx-xx-xxx
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card shopping-cart">
                <div class="card-header bg-dark text-light">
                    <span style="font-size: small;">Medio de Pago</span>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">
                    <input ng-model ="medioPago" type="radio" name="medioPago" value="1" >
                    <label for="sad"><img src="./app/assets/images/mercadopago.png" width="80" height="20"alt="I'm sad" /></label>

                    <br><br>
                    <input ng-model ="medioPago" type="radio" name="medioPago" value="2" > Efectivo

                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-2">
            <div class="card shopping-cart">
                <button ng-click="buy(medioPago)" class="btn btn-success pull-right btn-lg">Comprar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8">
            <div class="card shopping-cart">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span style="font-size: small;">Resumen Productos</span>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">

                    <div ng-repeat="p in products">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <img class="img-responsive" ng-src="data:image/png;base64, {{p.imagen}}" alt="prewiew"
                                    width="120" height="80">
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                <h5 class="product-name">{{p.nombre}}</h5>

                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-6">
                                <div class="row">

                                    <div class="col-3 col-sm-3 col-md-6 col-lg-6">
                                        <span style="font-size: small;">Precio: </span><strong>$
                                            {{p.precioUnitario}}</strong>
                                    </div>
                                    <div class="col-3 col-sm-3 col-md-6 col-lg-6">
                                        <span style="font-size: small;">Cantidad: </span> {{p.cantidad}}
                                    </div>
                                </div>

                            </div>

                        </div>
                        <hr>

                    </div>

                </div>
                <div class="card-footer">

                    <div class="pull-right" style="margin: 10px">
                        <div class="pull-right" style="margin: 5px">
                            Total: $ <b>{{totalPrice}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card shopping-cart">
                <div class="card-header bg-dark text-light">
                    <span style="font-size: small;">Datos Comprador</span>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">

                    <div>
                        <strong>Nombre: </strong> <span style="font-size: small;">{{customerData.nombre}} </span>
                    </div>
                    <br>
                    <div>
                        <strong>Apellido: </strong><span style="font-size: small;">{{customerData.apellido}} </span>
                    </div>
                    <br>
                    <div>
                        <strong>Telefono: </strong><span style="font-size: small;">{{customerData.telefono}}</span>
                    </div>
                    <br>
                    <div>
                        <strong>Direccion: </strong><span style="font-size: small;">{{customerData.direccion}}</span>
                    </div>
                    <br>
                    <div>
                        <strong>Documento: </strong><span style="font-size: small;">{{customerData.dni}}</span>
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>


<div ng-show="showSucessBuy">
    <h1 style="text-align:center;">Felicitaciones!</h1>
    <br>

    <h1 style="text-align:center;">Hemos confirmado tu pedido</h1>
    <br>
    <br>
    <br>
    <br>


    <h5 style="text-align:center;padding-left: 20%; padding-right: 20%;">Se podrá retirar mañana apartir de la fecha
        xx-xx-xxxx en el horario de
        xx:xx hs en la calle ASADD 123 presentando el comprobante enviado por mail y el dni.
        <br>
        <br>
        <br>


        <a href="/" class="btn btn-success pull-right btn-lg">Seguir comprando</a>


</div>

<br>
<br>